@font-face{
    font-family: "Raleway";
    src: local("Raleway"),
    url("../font/Raleway-Regular.ttf") format("truetype");
    
}
/* font */
a:link { text-decoration: none; }
/* keeps the links plain */

a:visited { text-decoration: none; }

/* keeps the links plain */
a:hover { text-decoration: none; 
background-color: #063970;
color: white;
}
/* changes the links with hovering */

a:active { text-decoration: none; }
/* keep the links plain */
a {
    color: white;
    display: inline-block;
    padding-top: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
    transition: background-color 0.5s ease;
    border-radius:20%;
    font-family: "Raleway";
}
/* change link fonts, spacing, and colors */