.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face{
  font-family: "Raleway";
  src: local("Raleway"),
  url("./font/Raleway-Regular.ttf") format("truetype");
  font-family: "Raleway-Medium";
  src: local("Raleway-Medium"),
  url("./font/Raleway-VariableFont_wght.ttf");
}

@font-face{
font-family: "ChangaOne";
src: local("ChangaOne"),
url("./font/ChangaOne-Regular.ttf") format("truetype");
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.main{
  margin-left:15%;
 
} */

.groupCards, .groups, .groupButton {
  margin: 10px;
}

.Cards {
  background-color: blue;
  text-align: center;
}

.cardButton {
  align-items: center;
}

.groupHeader {
  flex-direction: row;
  margin: 10px;
}

.createGroup {
  margin-left: 10px;
}

.searchGroup {
  padding: 5px;;
}

.notifications {
  
  margin-left: 2%;
}

.loginpage {
margin-left: 5%;
}

.groupButton{
  margin-left: 5%;
}
.SearchText{
  width: 100%;
}

#groupTitle{
  font-family:"ChangaOne";
}

#homeHeader{
  font-family: "ChangaOne";
  font-size: 300%;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
  margin-left: 1%;
}

#Home_mainContent{
  font-family: "Raleway";
  margin-left: 1%;
}
.upcomingEvents{
  font-family: "Raleway";
  font-size: 300%;
}


#messageHeader{
  font-family: "ChangaOne";
  font-size: 300%;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
 
}
#sendMessage{
  margin-left:1%;
}
#msgcontent{
  font-family: "Raleway";
}
.lineForMessage{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
  width: 100%;
}
#notiHeader{
  font-family: "ChangaOne";
  font-size: 300%;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

#notiPage{
  margin-left: 1%;
}

.NotificationList{
  z-index:2;
}

#supportHeader{
  font-family: "ChangaOne";
  font-size: 300%;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
 
}

#Support_mainContent{
  font-family: "Raleway";
}

#groupTitle{
  font-family: "ChangaOne";
}

#accountHeader{
  font-family: "ChangaOne";
  font-size: 300%;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}