
@font-face{
    font-family: "ChangaOne";
    src: local("ChangaOne"),
    url("./font/ChangaOne-Regular.ttf") format("truetype");
    font-family: "Raleway";
    src: local("Raleway"),
    url("./font/Raleway-Regular.ttf") format("truetype");
}

#messageHeader{
    font-family: "ChangaOne";
    font-size: 300%;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
   
}
#sendMessage{
    margin-left:1%;
}
#msgcontent{
    font-family: "Raleway";
}
.lineForMessage{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    width: 100%;
}