@font-face{
    font-family: "ChangaOne";
    src: local("ChangaOne"),
    url("./font/ChangaOne-Regular.ttf") format("truetype");
    
}

#supportHeader{
    font-family: "ChangaOne";
    font-size: 300%;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
   
}